<!--/public/customers/show-->
<h1>マイページ</h1>

<h2>登録情報</h2>

<body>
  <table class="table table-bordered">
    <tr>
      <th>氏名</th>
      <td>桃子</td>
    </tr>
    <tr>
      <th>カナ</th>
      <td>モモコ</td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>000-000</td>
    </tr>
    <tr>
      <th>住所</th>
      <td>東京都新宿区</td>
    </td>
    <tr>
      <th>電話番号</th>
      <td>090-0000-0000</td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>aaaa@gmail.com</td>
    </tr>
  </table>
</body>