<h1>マイページ</h1>

<h2>登録情報</h2>

<body>
  <table>
    <thead>
      <tr>
        <th>氏名</th>
        <th>カナ</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>