// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-container {
 background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),image-url('dogs.jpg');
 height: 600px;
 background-size:cover;
}

.text-center {
  font-size: 16px;
  color: #B3424A;
}