<h1>Admin::Sessions#create</h1>
<p>Find me in app/views/admin/sessions/create.html.erb</p>

<% if admin_signed_in? %>
  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
<% end %>