<div class="container">
  <div class-"row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h3>ショッピングカート</h3>
    </div>
    <% unless @cart_items.empty? %>
    <div class="col-sm-2 px-sm-0">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, "btn btn-danger float-right"
    </div>
  </div>
</div>